# General modules
Django==4.2.6
python-decouple==3.8
djangorestframework
Pillow

# third party modules
markdown       
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers

# delployment modules

# email third_party modules
django-mail-templated
# refactor and test modules
black
flake8
pytest
pytest-django
coreapi

# random data creator
Faker

# background proccress 
celery
Redis
django-celery-beat
django-celery-results